<h2>My Tweets</h2>
<div>
  <% if @my_tweets.present? %>
    <% @my_tweets.each do |my_tweet| %>
    <div> Title: <%= my_tweet.title %></div>
      <div> Description: <%= my_tweet.description %></div>
      <div> Created Date: <%= my_tweet.created_at %></div><br/><br/>
    <% end %>
  <% else %>
  <span> No Records Found</span>
  <% end %>

</div>